# Copyright 2026 DataRobot, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
from pathlib import Path
from typing import TYPE_CHECKING, Optional

from datarobot_genai.core.agents import InvokeReturn
from datarobot_genai.core.agents.base import UsageMetrics
from datarobot_genai.core.chat import agent_chat_completion_wrapper
from datarobot_genai.core.mcp import MCPConfig
from datarobot_genai.nat.agent import NatAgent
from openai.types.chat import CompletionCreateParams

if TYPE_CHECKING:
    from ragas import MultiTurnSample


class MyAgent(NatAgent):
    """MyAgent is a custom agent that uses NVIDIA NeMo Agent Toolkit and can be used for creating
    a custom agentic flow defined in workflow.yaml. It utilizes DataRobot's LLM Gateway or a
    specific deployment for language model interactions. This example illustrates 2 agents that
    handle content creation tasks, including planning and writing blog posts.
    """

    def __init__(
        self,
        api_key: str | None = None,
        api_base: str | None = None,
        model: str | None = None,
        verbose: bool = True,
        timeout: int | None = 90,
        forwarded_headers: dict[str, str] | None = None,
    ) -> None:
        super().__init__(
            workflow_path=Path(__file__).parent / "workflow.yaml",
            api_key=api_key,
            api_base=api_base,
            model=model,
            verbose=verbose,
            timeout=timeout,
            forwarded_headers=forwarded_headers,
        )


async def custompy_adaptor(
    completion_create_params: CompletionCreateParams,
) -> InvokeReturn | tuple[str, Optional["MultiTurnSample"], UsageMetrics]:
    forwarded_headers: dict[str, str] = completion_create_params.get(  # type: ignore[assignment]
        "forwarded_headers", {}
    )
    authorization_context = completion_create_params.get("authorization_context", {})
    mcp_config = MCPConfig(
        forwarded_headers=forwarded_headers,
        authorization_context=authorization_context,
    )
    server_config = mcp_config.server_config
    headers = server_config["headers"] if server_config else {}
    forwarded_headers.update(headers)
    agent = MyAgent(
        model=completion_create_params.get("model"),
        verbose=completion_create_params.get("verbose", True),  # type: ignore[arg-type]
        timeout=completion_create_params.get("timeout", 90),  # type: ignore[arg-type]
        forwarded_headers=forwarded_headers,
    )
    return await agent_chat_completion_wrapper(agent, completion_create_params)
