root:
  - env: {{agent_app_name|upper}}_PORT
    type: string
    default: "8842"
    help: "Enter the local port to access the agent. Should be a unique value."
{% if use_agent_memory == 'mem0' %}
  - env: MEM0_API_KEY
    type: secret_string
    optional: false
    help: |
      Enter your Mem0 API key for agent memory.
      Obtain one from https://app.mem0.ai/
{% endif %}
  - env: DATAROBOT_DEFAULT_EXECUTION_ENVIRONMENT
    type: string
    default: "[DataRobot] Python 3.11 GenAI Agents"
    optional: true
    help: "Enter the default execution environment for the agent's custom model."
  - env: DATAROBOT_DEFAULT_EXECUTION_ENVIRONMENT_VERSION_ID
    type: string
    default: "6a1ef00411608d0792302b49"
    optional: true
    help: "Enter the default execution environment version ID for the agent's custom model."
  - env: ENABLE_DRAGENT_SERVER
    type: string
    default: "true"
    optional: true
    help: "Whether to use the `dragent` as frontserver for your agent"
