---
ENABLE_MLOPS: true
ENABLE_CUSTOM_INFERENCE_MODEL: true
ENABLE_PUBLIC_NETWORK_ACCESS_FOR_ALL_CUSTOM_MODELS: true
ENABLE_MLOPS_TEXT_GENERATION_TARGET_TYPE: true
ENABLE_GENAI_EXPERIMENTATION: true
{% if use_agent_memory == 'datarobot_memory_service' %}ENABLE_AGENTIC_MEMORY_API: true{% endif %}
