{% if agent_template_framework == "crewai" %}{% include 'template/{{agent_app_name}}/custom_model/mcp_templates/mcp_crewai.j2' -%}
{% elif agent_template_framework == "langgraph" %}{% include 'template/{{agent_app_name}}/custom_model/mcp_templates/mcp_langgraph.j2' -%}
{% elif agent_template_framework == "llamaindex" %}{% include 'template/{{agent_app_name}}/custom_model/mcp_templates/mcp_llamaindex.j2' -%}
{% elif agent_template_framework == "nat" %}{% include 'template/{{agent_app_name}}/custom_model/mcp_templates/mcp_nat.j2' -%}
{% else %}{% include 'template/{{agent_app_name}}/custom_model/mcp_templates/mcp_base.j2' %}{% endif -%}

