---
name: {{ agent_app_name }}
type: inference
targetType: agenticworkflow
runtimeParameterDefinitions:
  - fieldName: {{ _external_data.llm.llm_app_name|replace("-", "_")|upper }}_DEPLOYMENT_ID
    defaultValue: SET_VIA_PULUMI_OR_MANUALLY
    type: string
