# Copyright 2026 DataRobot, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
"""NAT workflow registrations.

Framework-specific NAT plugins are loaded from datarobot-genai and NAT
entrypoints. Mem0 memory registration lives in ``agent.register_memory`` so it
can be shared by every workflow template.
"""
{% if use_agent_memory == 'mem0' %}
from agent import register_memory as _register_memory  # noqa: F401
{% endif -%}
