{% if agent_template_framework == "crewai" %}
{% include 'template/{{agent_app_name}}/custom_model/my_agent_class/agent_crewai.j2' %}
{% else %}
{% include 'template/{{agent_app_name}}/custom_model/my_agent_class/agent_base.j2' %}
{% endif %}
