{% if agent_template_framework == "crewai" %}{% include 'template/{{agent_app_name}}/tests/test_mcp_templates/test_mcp_crewai.j2' -%}
{% elif agent_template_framework == "llamaindex" %}{% include 'template/{{agent_app_name}}/tests/test_mcp_templates/test_mcp_llamaindex.j2' -%}
{% endif %}